@{
    ViewBag.AppName = "SecuredWebApp";
    ViewBag.Title = "SecuredWebApp Application Log";
}

<div class="ss-page-content">
    <div class="ss-page-title ss-h2">@ViewBag.Title</div>
    <div class="ss-article-title-divider"></div>

    <div class="ss-grid-container">
        @Html.AntiForgeryToken()
        <div id="AppLogGrid" class="ss-data-grid ss-grid-full"></div>
    </div>
</div>

@section styles
{
    <link rel="Stylesheet" href="@Href("~/content/app/appform.css")" />
}

@section Scripts
{
    @Scripts.Render("~/Scripts/app/applog.js")

    <script>
        $(function () { // will trigger when the document is ready
            $(document).ready(function () {
                AppWeb.AppLog.init('AppLogGrid');
            });
        });
    </script>
}
