<div id="confirmation-dialog" class="app-dialog hide">
    <div class="col-xs-12 ss-h4 dialog-text dialog-instruction"></div>
    <div class="col-xs-12">
        <div class="btn btn-primary col-xs-2 action-btn dialog-ok">OK</div>
        <div class="btn btn-default col-xs-2 action-btn dialog-cancel" style="margin-left:10px">Cancel</div>
        <div class="clearfix"></div>
    </div>
</div>