<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog model-wide" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title form-page-title app-h2"></div>
            </div>

            <!-- dialog html content goes here -->
            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="formDialog" class="form-dialog">
    <div class="dialog-body"></div>
</div>
