<!-- footer area -->
<div class="app-footer">
    <div class="ss-sub-title-divider"></div>
    <div class="footer-panel">
        <div class="footer">
            <div id="footer-copyright"> <span>&copy; 2015 - 2017 SenStay. All rights reserved.</span></div>
        </div>
    </div>
</div>

